@model List<KWA_Djole.Business.Dtos.OrderDto>
@using System.Globalization
<div class="display-4 mb-2">
    Narudžbine
</div>
@if (Model.Count == 0)
{
    <div class="display-4 text-center">Nemate nijednu narudžbinu</div>
}
else
{
    @foreach (var order in Model)
    {
        @* var groupedItems = order.Items
        .GroupBy(i => new { i.ShoppingItem.Id, i.ShoppingItem.Name, i.ShoppingItem.Price, i.Status, i.IsRatedByCustomer })
        .Select(g => new
        {
            Id = g.Key.Id,
            Name = g.Key.Name,
            Price = g.Key.Price,
            Quantity = g.Count(),
            TotalPrice = g.Key.Price * g.Count(),
            Status = g.Key.Status,
            IsRatedByCustomer = g.Key.IsRatedByCustomer
        })
        .ToList(); *@
        <div class="card col-md-6">
            <div class="card-body">
                <h4>Datum porudžbine - @order.Date.ToString("dd.MM.yyyy u HH:mm") sati</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ime stavke</th>
                            <th>Cena</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in order.Items)
                        {
                            <tr>
                                <td>@item.ShoppingItem.Name</td>
                                <td>@item.ShoppingItem.Price.ToString("N", CultureInfo.InvariantCulture) RSD</td>
                                <td>
                                    @if (item.Status == KWA_Djole.Data.Enums.OrderStatus.Pristiglo)
                                    {
                                        <span class="badge bg-success">Pristiglo @(item.IsRatedByCustomer ? "i ocenjeno" : "")</span>
                                    }
                                    else if (item.Status == KWA_Djole.Data.Enums.OrderStatus.U_toku)
                                    {
                                        <span class="badge bg-primary">Poslato</span>
                                    }
                                    else if (item.Status == KWA_Djole.Data.Enums.OrderStatus.Otkazano)
                                    {
                                        <span class="badge bg-danger">Otkazano</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Otkazano</span>
                                    }
                                    @if(item.Status == KWA_Djole.Data.Enums.OrderStatus.Pristiglo && !item.IsRatedByCustomer)
                                    {
                                        <a href="#" class="fas fa-star ml-2 text-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Oceni" onclick="ShowRateModal(@item.Id)"></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Oceni proizvod</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center">
                <h5>Ocena</h5>
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5">
                    <label for="star5"><i class="fas fa-star"></i></label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label for="star4"><i class="fas fa-star"></i></label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3"><i class="fas fa-star"></i></label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label for="star2"><i class="fas fa-star"></i></label>
                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1"><i class="fas fa-star"></i></label>
                </div>
                <h5 class="mt-3">Komentar</h5>
                <textarea class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" onclick="SubmitReview()">Postavi</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selectedItemId" />
@section Scripts{
    <script type="text/javascript">
        function ShowRateModal(itemId) {
            $('#exampleModal').modal('show');
            $('#selectedItemId').val(itemId);
        }
        function SubmitReview() {
            var itemId = $('#selectedItemId').val();
            var rating = $('input[name="rating"]:checked').val();
            if(rating === undefined){
                ErrorToast('Pažnja', 'Morate odabrati ocenu');
                return
            }
            var comment = $('textarea').val();
            $.ajax({
                url: '/User/RateOrderItem',
                type: 'POST',
                data: { orderItemId: itemId, rating: rating, comment: comment },
                success: function (data) {
                    if (data.success === true) {
                        localStorage.setItem('success', 'true');
                        localStorage.setItem('message', 'Ocena je postavljena');
                        window.location.reload();
                    }
                    else {
                        ErrorToast('Greška', data.message);
                    }
                }
            });
        }
    </script>
}