@model KWA_Djole.Data.Models.User
<div class="display-4">
    Moji podaci
</div>
<div class="card mt-2">
    <div class="card-body d-flex flex-column align-items-center">
        <form id="editDetailsForm" class="col-md-3 col-12 ">
            <h6>Email</h6>
            <div class="input-group mb-3">
                <input name="Email" type="email" class="form-control" placeholder="Email*" required value="@Model.Email" disabled>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <h6 class="mt-2">Ime</h6>
            <div class="input-group mb-3">
                <input name="FirstName" type="text" class="form-control" placeholder="Ime*" required value="@Model.FirstName" disabled>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <h6 class="mt-2">Prezime</h6>
            <div class="input-group mb-3">
                <input name="LastName" type="text" class="form-control" placeholder="Prezime*" required value="@Model.LastName" disabled>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <h6 class="mt-2">Broj telefona</h6>
            <div class="input-group mb-3">
                <input name="PhoneNumber" type="text" class="form-control" placeholder="Broj telefona*" required value="@Model.PhoneNumber" disabled>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                    </div>
                </div>
            </div>
            <h6 class="mt-2">Adresa</h6>
            <div class="input-group mb-3">
                <input name="Address" type="text" class="form-control" placeholder="Adresa*" required value="@Model.Address" disabled>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-map-marker-alt"></span>
                    </div>
                </div>
            </div>
            <button id="editButton" type="button" class="btn btn-secondary" onclick="EnableEdit()"><i class="fas fa-pen-to-square"></i> Izmeni</button>
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#editDetailsForm').validate()
        })
        function EnableEdit() {
            $('#editDetailsForm input').prop('disabled', false)
            $('#editButton').text('Sačuvaj')
            $('#editButton').attr('onclick', 'SaveChanges()')
            $('#editButton').removeClass('btn-secondary')
            $('#editButton').addClass('btn-success')
        }
    </script>
}