@model KWA_Djole.Business.Dtos.ShoppingItemDto
@using System.Globalization

<div class="card" style="width: 300px">
    <div class="card-body col-12 d-flex justify-content-center flex-column align-items-center pt-0" style="min-height: 700px">
        <div class="col-12 d-flex justify-content-center flex-column align-items-center position-absolute" style="top: 0px">
            
            <img src="@Model.ImageUrl" style="width: 300px; height: 440px" />
            <h5 style="font-size: 26px;" class="mt-1">@Model.Name</h5>
            <hr class="hr w-100 mt-1 mb-1" style="color: #ebebeb" />
            <h6 class="mt-2">Izdavač: @Model.Issuer</h6>
            <h6>Datum izdavanja: @Model.IssueDate.ToString("dd.MM.yyyy")</h6>
            <h6>Žanr: @Model.ShoppingItemGenre.Name</h6>
            <div class="d-flex flex-row justify-content-center align-items-center mt-1">
                <i class="fas fa-book"></i>
                <h6 class="mb-0 ml-2">@Model.NumOfPages stranica</h6>
            </div>
        </div>
        
        @if (Model.IsDetailsPage)
        {
            <div class="d-flex flex-row justify-content-end align-items-center w-100 mt-3 position-absolute" style="bottom: 15px;">
                <div class="d-flex flex-row align-items-center">
                    <h5 class="card-text mb-0 mr-3">@Model.Price.ToString("N", CultureInfo.InvariantCulture) RSD</h5>
                    <button class="btn @(User.Identity.IsAuthenticated ? "btn-success" : "btn-secondary")" onclick="@(User.Identity.IsAuthenticated ? "AddProductToCart(" + Model.Id + ")" : "GoToLogin()")">
                        <i class="fas fa-cart-shopping"></i>
                    </button>
                </div>
            </div>
        }
        else
        {
            <div class="d-flex flex-row justify-content-between align-items-center w-100 position-absolute pl-2 pr-2" style="bottom: 15px;">
                <button class="btn btn-primary" onclick="GoToProductDetails(@Model.Id)">Detalji</button>
                <div class="d-flex flex-row align-items-center">
                    <h5 class="card-text mb-0 mr-2">@Model.Price.ToString("N", CultureInfo.InvariantCulture) RSD</h5>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="@(User.Identity.IsAuthenticated ? "Dodaj u korpu" : "Prijavi se")" class="btn @(User.Identity.IsAuthenticated ? "btn-success" : "btn-secondary")" onclick="@(User.Identity.IsAuthenticated ? "AddProductToCart(" + Model.Id + ")" : "GoToLogin()")">
                        <i class="fas fa-cart-shopping"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>